body {
    font-family: 'Open Sans', sans-serif;
}

#help-queue {
    width: 100%;
    height: 800px;
    border: solid 1px #888888;
    overflow: auto;
    position: relative;
}

#classroom-layout{
    width: 100%;
    height: 800px;
    border: solid 1px #888888;
}

#students-list {
    width: 90%;
    margin: 1em;
    cursor: pointer;
}

.section-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.3em;
}

audio {
    /*margin-top: 10px !important;*/
    width: 200px;
}

button.menu-item {
    margin-top: -20px;
}

/* menu item in the capture screen */
.menu-item {
    margin: 0 1em;
}

.nowrap {
    white-space: nowrap;
}

.section-header {
    height: 40px;
}

.sort-option {
    padding: 0.5em;
}

.block {
    position: absolute;
    /*border: solid #dddddd 1px;*/
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: #4E3F35;
    color: #ffffff;
    padding: 10px;
    z-index: 10;
}

.student {
    position: absolute;
    border: solid #dddddd 1px;
    cursor: pointer;
    background-color: white;
    z-index: 11;
}

.student.group{
    border: solid #4E3F35 2px;
}

.student-profile {
    display: block;
    width: 80px;
    height: 80px;
}

.student-profile img {
    width: 80px;
    height: 80px;
}

.student-badge {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
}
.student-progress {
    width: 30px;
    display: block;
    float: left;
    padding-left: 5px;

}
.student-group {
    width: 50px;   
    display: block;
    float: right;
    text-align: right;
    padding-right: 5px;
}

.student-name {
    width: 80px;
    padding: 0 5px;
}

.popover-content button {
    margin-bottom: 5px;
}

/* modal box for the view_layout */
.modal-mid {
    margin-top: 0.5em;
}

.modal-help {
    display: none;
}

/* time display in the help queue */
.time-elapsed {
    display: block;
    position: absolute;
    top: 0;
    left: 80px;
    font-size: 0.8em;
}



.profile-text div{
    margin-top: 15px;
    margin-right: 15px;
}

/* Highlighting an element */
/*.cssanimations.csstransforms .brushing {
    background-color:transparent;
    -moz-transition:background-color 2s;
    -webkit-transition:background-color 2s;
    -o-transition:background-color 2s;
    transition:background-color 2s;
}

.cssanimations.csstransforms .brushing.new {
    background-color:yellow;
}
*/

.student.brushing {
    border: 5px solid red;
}

/* Alert box */
#alert {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: #fde073;
    text-align: center;
    line-height: 3.5;
    overflow: hidden; 
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
    display: none;
}

/* animation from http://css-tricks.com/pop-from-top-notification/ */
/*.cssanimations.csstransforms #alert{
    -webkit-transform: translateY(-70px);
    -webkit-animation: slideDown 5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-70px);
    -moz-animation:    slideDown 5s 1.0s 1 ease forwards;
}

@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-70px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-80px); }
    10%, 90% { -moz-transform: translateY(0px); }
}*/

.cssanimations.csstransforms #alert .close {
    display: none;
}


#myModal .mark-resolved-button {
    display: none;
}
