
.thumb {
    border: 1px solid #aaa;
    /*border-left: 3px solid #aaa;*/
    padding: 10px;
    margin: 5px;
    cursor: pointer;

    background-color: #eee;

}

.content {
    font-size: 14px;
}

.content li {
    padding: 20px;
}
.thumb_complete{
    background-image: url('../img/Checkmark.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

/*.thumb:hover{*/
    /*border-left: 3px solid #00f;*/
/*}*/
.active_thumb {
    /*border-left: 3px solid #00f;*/
    background-color: #ddf;
}

.active_page {
    padding: 10px;
    padding-left: 50px;
    margin: 5px;
    width: 600px;
}

.queue_widget{
    margin: 50px;
}

.thumb_caption{
    font-size: 12px;
    font-family: sans-serif;
    padding-top: 5px;
    text-shadow: rgb(255, 255, 255) 1px 1px 2px;
}

.thumbs_container{
    padding-top: 10px;
}

.tooltip {
    position: absolute;
    z-index: 5;
    padding: 6px;

    background-color: rgba(0,0,0,0.8);
       /*background-color: #eee;*/
        border: 1px solid #aaa;
    /*border-left: 3px solid #00f;*/
    /*border-bottom: 0px solid #aaa;*/

        text-align: right;
}

.tooltip a {
    margin: 2px;
    margin-right: 10px;
    padding: 4px;
    text-decoration: none;
    font-size: 12px;
    color: #00ffff;
    font-weight: bold;
}

.tooltip a:hover{
    text-decoration: underline;
}

.mask{
    position: absolute;
    z-index: 1;

    background-color: rgba(0,0,0,0.5);
}

.toolbar {
    padding: 10px;
    background-color: #ccffcc;
}

.toolbar button{
    margin: 5px;
    margin-right: 40px;
}