{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>Instructor View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700" rel="stylesheet" type="text/css">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />    
  </head>
  <body>
    <div class="navbar">
      <a class="navbar-brand" href="#">{{ course.slug }} Instructor</a>
      <ul class="nav navbar-nav">
        <li><a href="./view-layout">View Class</a></li>
        <li><a href="./manage-layout">Manage Layout</a></li>
        <li class="active"><a href="#">Capture Interaction</a></li>
        <!-- <li><a href="#">Manage Class</a></li> -->
      </ul>
    </div>

    <div class="container">

    <div class="row">
<!--         <div class="sidebar col-12 col-sm-2 col-lg-2">
            <div class="section-header">
                <div class="section-title">Controls</div>
            </div>
            <div>
                <audio id="audio" autoplay loop controls></audio><br/>
                <button id="capture-button" class="btn btn-danger">Record Audio</button>
                <div id="audio-url-preview"></div>
            </div>
            <div style="display:none">
                <video id="video" autoplay loop controls muted width="320" height="240"></video>
                <input type="checkbox" id="record-screen" style="display:none">
                <label for="record-screen" style="display:none">Record Screen</label>
                <button id="video-capture-button" class="btn btn-danger">Record Video</button>
                <div id="video-url-preview"></div>
            </div>
        </div> -->
        <div class="main col-12 col-sm-12 col-lg-12">
            <div class="section-header">
                <span class="section-title col-12 col-sm-6 col-lg-6 nowrap">Sketchpad</span>
                <span class="col-12 col-sm-6 col-lg-6">
                    <audio id="audio" class="nowrap" autoplay loop controls></audio>
                    <button id="capture-button" class="btn btn-danger nowrap">Record Audio</button>
                    <!-- <div id="audio-url-preview"></div> -->
                </span>                
            </div>
            <!-- <iframe src="http://drawonthe.net/board_index.php?id=130807_11" width="600" height="600"></iframe> -->
            <iframe src="http://localhost:1337/b" width="100%" height="800"></iframe>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Interaction successfully captured!</h4>
          </div>
          <div class="modal-body">
            <div>Preview the recorded audio:</div>
            <audio id="preview-audio" autoplay loop controls></audio>
            <div class="more-info">some other information</div>
            <br/>
            <div>Leave a summary of this interaction (optional)</div>
            <textarea rows="3" cols="50" id="summary"></textarea>
          </div>
          <div class="modal-footer">
            <div>Would you like to save this interaction and share with others?<br/></div>
            <div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Discard</button>
                <button type="button" class="btn btn-primary" id="save-interaction-button" data-dismiss="modal">Save this interaction</button>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    </div>

    <script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/RecordRTC.js" %}"></script>    
    <!-- Optionally enable responsive features in IE8 -->
    <!-- // <script src="js/respond.js"></script> -->
    <!-- // <script src="{% static "js/student.js" %}"></script> -->
    <script src="{% static "js/layout.js" %}"></script>
    <script src="{% static "js/touch-device.js" %}"></script>
    <script src="{% static "js/student-layout.js" %}"></script>
    <script src="{% static "js/block-layout.js" %}"></script>
    <script src="{% static "js/help-queue.js" %}"></script>
    <script src="{% static "js/capture.js" %}"></script>
    <script src="{% static "js/utils.js" %}"></script>
    <script>
        $(document).ready(function(){
            console.log("{{student.id}}");
            console.log("{{interaction.id}}");
            // var interaction = JSON.stringify({{interaction|safe}});
            TouchDevice.init();
            Capture.init({{interaction.id}});
        });
    </script>    
  </body>
</html>
