{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>Instructor View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700" rel="stylesheet" type="text/css">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" /> 
    <style>
        html{
            min-height: 100%;
            position: relative;
        }
        body{
            height: 100%;
            margin-top: 20px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: moz-none;
            -ms-user-select: none;
            user-select: none;            
        }
        #audio-rtc {
            display: none;
            width: 100%;
            height: 40px;
            border: 0;            
        }
        #whiteboard {
            width: 100%;
            height: 100vh;
        }
        .fullpage-container {
            /*height: 100vh;*/
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            overflow:hidden;
            z-index: -1;
        }
        .section-header {
            padding-top: 10px;
        }
    </style>   
  </head>
  <body>
<!--     <div class="navbar">
      <a class="navbar-brand" href="#">{{ course.slug }} Instructor</a>
      <ul class="nav navbar-nav">
        <li><a href="./view-layout">View Class</a></li>
        <li><a href="./manage-layout">Manage Layout</a></li>
        <li class="active"><a href="#">Capture Interaction</a></li>
      </ul>
    </div>
 -->

    <div id="alert"></div>

    <div class="fullpage-container"> <!-- container -->

    <div class="row">
<!--         <div class="sidebar col-12 col-sm-2 col-lg-2">
            <div class="section-header">
                <div class="section-title">Controls</div>
            </div>
            <div>
                <audio id="audio" autoplay loop controls></audio><br/>
                <button id="capture-button" class="btn btn-danger">Record Audio</button>
                <div id="audio-url-preview"></div>
            </div>
            <div style="display:none">
                <video id="video" autoplay loop controls muted width="320" height="240"></video>
                <input type="checkbox" id="record-screen" style="display:none">
                <label for="record-screen" style="display:none">Record Screen</label>
                <button id="video-capture-button" class="btn btn-danger">Record Video</button>
                <div id="video-url-preview"></div>
            </div>
        </div> -->
        <div class="main col-12 col-sm-12 col-lg-12">
<!--             <div id="statusPanel" style="border: 1px solid red; width: 100%">
              Test running....
            </div>

            <div id="parent">
              <div id="prev">before</div><div id="toBeReplaced"> 
                fallback content goes here 
              </div><div id="after">after</div>
            </div> -->

            <div class="section-header">
                <span class="section-title col-12 col-sm-6 col-lg-6">Sketchpad</span>
                <span class="col-12 col-sm-6 col-lg-6">
<!--                     <OBJECT ID="ChromeFrame" WIDTH="100%" HEIGHT="400px" CODEBASE="http://www.google.com"
                              CLASSID="CLSID:E0A900DF-9611-4446-86BD-4B1D47E7DB2A">
                          <PARAM NAME="src" VALUE="./capture-iframe?sid={{student.id}}&iid={{instructor.id}}&hr={{hr_id}}">
                          <embed ID="ChromeFramePlugin" WIDTH="100%" HEIGHT="400px" NAME="ChromeFrame"
                              SRC="./capture-iframe?sid={{student.id}}&iid={{instructor.id}}&hr={{hr_id}}" TYPE="application/chromeframe">
                          </embed>
                    </OBJECT>    -->    
                    <!-- <iframe id="audio-rtc" src="./capture-iframe?sid={{student.id}}&iid={{instructor.id}}&hr={{hr_id}}">
                    </iframe>  -->
                    <audio id="audio" class="menu-item" autoplay loop controls></audio>
                    <button id="capture-button" class="menu-item btn btn-medium btn-danger">Record Audio</button>
                </span>                
            </div>
            <!-- <iframe src="http://drawonthe.net/newboard.php" width="100%" height="600"></iframe> -->
            <!-- <iframe id="whiteboard" src="http://ls.edx.org:1337/{{ interaction.id }}" width="100%" height="800"></iframe> -->
            <iframe id="whiteboard"></iframe>
        </div>
    </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Interaction successfully captured!</h4>
          </div>
          <div class="modal-body">
            <div>Preview the recorded audio:</div>
            <audio id="preview-audio" autoplay loop controls></audio>
            <div class="more-info">some other information</div>
            <br/>
            <div>Leave a summary of this interaction (optional)</div>
            <textarea rows="3" cols="50" id="summary"></textarea>
          </div>
          <div class="modal-footer">
            <div>Would you like to save this interaction and share with others?<br/></div>
            <div>
                <button type="button" class="btn btn-default" id="discard-interaction-button" data-dismiss="modal">Discard</button>
                <button type="button" class="btn btn-primary" id="save-interaction-button" data-dismiss="modal">Save this interaction</button>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Modal -->
    <div class="modal fade" id="introModal">
      <div class="modal-dialog">
        <div class="modal-content">
<!--           <div class="modal-header">
          
          </div> -->
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><strong>Warning!</strong> 
                    <i class="icon-large icon-arrow-up"></i>
                    <i class="icon-large icon-arrow-up"></i>
                    <i class="icon-large icon-arrow-up"></i>
                    <i class="icon-large icon-arrow-up"></i>
                    <i class="icon-large icon-arrow-up"></i>
                    <br/>
                    Make sure you choose "Allow" to record audio.
                </h4>  
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-large" disabled="disabled" data-dismiss="modal">Start</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script src="{% static "js/vendor/jquery-1.10.2.min.js" %}"></script>
    <script src="{% static "js/vendor/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
    <script src="{% static "js/layout.js" %}"></script>
    <script src="{% static "js/touch-device.js" %}"></script>
    <script src="{% static "js/student-layout.js" %}"></script>
    <script src="{% static "js/block-layout.js" %}"></script>    
    <script src="{% static "js/utils.js" %}"></script>
    <script src="{% static "js/capture.js" %}"></script>
    <script src="{% static "js/capture-iframe.js" %}"></script>

    <script src="{% static "js/vendor/InitActiveXObjects.js" %}"></script>
    <script src="{% static "js/vendor/Common.js" %}"></script>
    <script src="{% static "js/vendor/MsGetUserMedia.js" %}"></script>
    


<!--     // <script type="text/javascript" src="{% static "js/vendor/chrome_frame_tester_helpers.js" %}"></script>
    // <script type="text/javascript" src="{% static "js/vendor/CFInstance.js" %}"></script> -->

    <script>
    // function GetChromeFrame() {
    //     var chromeFrame = window.document.ChromeFrame;
    //     return chromeFrame;
    // }
      
    // function OnChromeFrameMessage(text) {
    //     window.alert("In host:  \r\nMessage from ChromeFrame: " + text);
      
    //     var chromeFrame = GetChromeFrame();
    //     chromeFrame.PostMessageToFrame("Hello from host");
    //     return "OK";
    // }
      
    // function OnNavigate() {
    //     var chromeFrame = GetChromeFrame();
    //     chromeFrame.src = "./capture-iframe?sid={{student.id}}&iid={{instructor.id}}&hr={{hr_id}}";
    // }
      
    // function onLoad() {
    //     OnNavigate();
    // }    
        $(document).ready(function(){      
            // var testName = "CFInstanceBasic";
            // (function(){
            //   try{
            //     var cf = new CFInstance({
            //       src: "./capture-iframe?sid={{student.id}}&iid={{instructor.id}}&hr={{hr_id}}",
            //       node: "toBeReplaced"
            //     });

            //     if (document.getElementById("parent") != cf.parentNode ) {
            //       onFailure(testName, 1, "parent node mismatch");
            //       return;
            //     }

            //     if (document.getElementById("prev").nextSibling != cf) {
            //       onFailure(testName, 1, "sibling node mismatch");
            //       return;
            //     }

            //     if (document.getElementById("after").previousSibling != cf) {
            //       onFailure(testName, 1, "sibling node mismatch");
            //       return;
            //     }

            //     onSuccess(testName, 1);

            //   } catch (e) {
            //     onFailure(testName, 1,
            //               "CFInstance constructor failed with error: "+e);
            //   } 
            // })();

            // if (isIE()){
            //     var chromeFrame = GetChromeFrame();
            //     chromeFrame.onmessage = OnChromeFrameMessage;
            //     OnNavigate();
            //     console.log("IE detected");
            // } else {
            //     $("#ChromeFrame").hide();
            //     $("#audio-rtc").show();
            // }
            // $("#introModal").modal({
            // });
            // console.log("{{student.id}}", "{{instructor.id}}", "{{hr_id}}");
        //     console.log("{{interaction.id}}");
            // $(document).on("mousemove", function(e){console.log("mouse", e["originalEvent"]["mozPressure"])});
            // $(document).on("touchmove", function(e){console.log("touch", e["mozPressure"])});
            var interaction = JSON.stringify({{interaction|safe}});
            var help_request = JSON.stringify({{help_request|safe}});
            TouchDevice.init();
            StudentLayout.init();
            Capture.init("{{student.id}}", "{{interaction.id}}", "{{instructor.id}}", JSON.parse(help_request));
            CaptureIframe.init("{{student.id}}", "{{interaction.id}}", "{{instructor.id}}", JSON.parse(help_request));

            setTimeout(function(){
                $("#introModal button").removeAttr("disabled");
            }, 3000);
        });
    </script>    
  </body>
</html>
