Index for flipped classroom prototypes

<ul> 
<li> <a href="/x2/instructor/6.00x/sep-1-2013/view-layout">View layout</a>
<li> <a href="/x2/instructor/6.00x/sep-1-2013/manage-layout">Manage layout</a>
<li> <a href="/x2/instructor/6.00x/sep-1-2013/capture">Capture</a>
<li> <a href="/x2/instructor/6.00x/sep-1-2013/capture-iframe">Capture (iframe)</a>
<li> <a href="/teacher">Teacher</a>
<li> <a href="/capture">Generic capture</a>
<li> <a href="/x2/admin/">Admin</a>
<li> <a href="/x2/media/example">Example media (manually change URL)</a>
</ul>
