{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>Instructor View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700" rel="stylesheet" type="text/css">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />    
    <style>
        #group-size{
            width: 120px;
        }
    </style>
  </head>
  <body>
    <div class="navbar">
      <a class="navbar-brand" href="#">{{ course.slug }} Instructor</a>
      <ul class="nav navbar-nav">
        <li><a href="./view-layout">View Class</a></li>
        <li class="active"><a href="./manage-layout">Manage Layout</a></li>
        <li><a href="./capture">Capture Interaction</a></li>
        <!-- <li><a href="#">Manage Class</a></li> -->
      </ul>
    </div>

    <div class="container">

    <div class="row">
        <div class="sidebar col-12 col-sm-2 col-lg-2">
<!--             <h3>Help Queue</h3>
            <div id="help-queue"></div> -->
        </div>
        <div class="main col-12 col-sm-10 col-lg-10">
            <h3>Classroom Layout</h3>
            <div>Take a photo of your classroom</div>
            
            <div style="text-align:center;">
                <p>
                    <button id="screenshot-button" class="btn btn-primary">Capture</button> 
                    <button id="screenshot-stop-button" class="btn">Stop</button>
                </p>
                <video id="screenshot-stream" class="videostream" autoplay="" width="320"></video>
                <img id="screenshot" src="">
                <canvas id="screenshot-canvas" style="display:none;" width="320"></canvas>
            
            </div>

<!--             <div class="form-inline">
                <label for ="group-size">How many groups do you want to add?</label>
                <input type="text" class="form-control" id="group-size" placeholder="Enter number">
                <button type="submit" class="btn btn-default" id="update-layout-button">add</button>
                <button type="submit" class="btn btn-default" id="reset-layout-button">reset</button>
                <button type="submit" class="btn btn-primary" id="save-layout-button">save layout</button>
            </div>            
            <div id="classroom-layout"></div> -->
        </div>
    </div>

    </div>

    <script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <!-- // <script src="{% static "js/bootstrap.min.js" %}"></script> -->
    <!-- Optionally enable responsive features in IE8 -->
    <!-- // <script src="js/respond.js"></script> -->
    <script src="{% static "js/utils.js" %}"></script>
    <script src="{% static "js/layout.js" %}"></script>
    <script src="{% static "js/block-layout.js" %}"></script>
    <script>
        $(document).ready(function(){
            var blocks = JSON.stringify({{blocks|safe}});
            Layout.init("{{course.id}}", "{{session.id}}", JSON.parse(blocks), false);


            function onFailSoHard(e){
                if(e.code==1){
                    alert('User denied access to their camera');
                } else{
                    alert('getUserMedia() not supported in your browser.');
                }
            }

            (function(){
                var video=document.querySelector('#screenshot-stream');
                var button=document.querySelector('#screenshot-button');
                var canvas=document.querySelector('#screenshot-canvas');
                var img=document.querySelector('#screenshot');
                var ctx=canvas.getContext('2d');
                var localMediaStream=null;

                function sizeCanvas(){
                    setTimeout(function(){
                        canvas.width=video.videoWidth;
                        canvas.height=video.videoHeight;
                        img.height=video.videoHeight;
                        img.width=video.videoWidth;
                    },100);
                }
                function snapshot(){
                    ctx.drawImage(video,0,0);
                    img.src=canvas.toDataURL('image/webp');
                }
                button.addEventListener('click',function(e){
                    if(localMediaStream){
                        snapshot();
                        return;
                    }

            if(navigator.getUserMedia){navigator.getUserMedia('video',function(stream){video.src=stream;localMediaStream=stream;sizeCanvas();button.textContent='Take Shot';},onFailSoHard);}else if(navigator.webkitGetUserMedia){navigator.webkitGetUserMedia({video:true},function(stream){video.src=window.webkitURL.createObjectURL(stream);localMediaStream=stream;sizeCanvas();button.textContent='Take Shot';},onFailSoHard);}else{onFailSoHard({target:video});}},false);video.addEventListener('click',snapshot,false);document.querySelector('#screenshot-stop-button').addEventListener('click',function(e){video.pause();localMediaStream.stop();},false);})();

        });
    </script>    
  </body>
</html>
