{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>View Saved Interactions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
</head>
<body>

<ul class="list-group">
    {% for interaction in interactions %}
    <li class="list-group-item"><a target='_blank' href="/player/play.html?n={{interaction.id}}">
        {{interaction.id}}: &nbsp; &nbsp; &nbsp;
        {{interaction.ended_at}} &nbsp; &nbsp; &nbsp;
        {{interaction.instructor_summary}}
    </a></li>
    {% endfor %}
</ul>

</body>
</html>