{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>Instructor View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700" rel="stylesheet" type="text/css">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />    

    <script src="{% static "js/vendor/modernizr.js" %}"></script>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
          <a class="navbar-brand" href="#">{{ course.slug }} Instructor</a>
      </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="./view-layout">View Class</a></li>
    <!--         <li><a href="./manage-layout">Manage Layout</a></li>
            <li><a href="./capture">Capture Interaction</a></li> -->
            <!-- <li><a href="#">Manage Class</a></li> -->
          </ul>
          <div class="navbar-right profile-text">
            <div>Instructor: {{ instructor.name }}</div>
          </div>

    </nav>

    <div id="alert" class="animation">
        <span class="message text-center"></span><a class="close pull-right">[close]</a>
    </div>

    <div class="container">

    <div class="row">
        <div class="sidebar col-12 col-sm-2 col-lg-2">
            <div class="section-header">
                <div class="section-title">Help Queue <span id="help-queue-count" class="badge">0</span></div>
            </div>
            <div id="help-queue">
<!--                 <div class="sort-option">
                    <label>sort by: </label>
                    <div class="btn-group">
                        
                      <button type="button" class="btn btn-default btn-small dropdown-toggle" data-toggle="dropdown">
                        time <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">time</a></li>
                        <li><a href="#">group</a></li>
                        <li><a href="#">progress</a></li>
                      </ul>
                    </div>            
                </div> -->
            </div>
        </div>
        <div class="main col-12 col-sm-10 col-lg-10">
            <div class="section-header">
                <ul id="view-options" class="nav nav-pills">
                  <li class="active"><a href="#" id="classroom-view-button">Classroom View</a></li>
                  <li><a href="#" id="list-view-button">List View</a></li>
                </ul>
            </div>
            <div id="classroom-layout">
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title row">
                <div class="modal-left col-4 col-sm-4 col-lg-4">
                    <h4><span class="modal-student-name"></span></h4>
                    <span class="modal-student-profile"></span>
                </div>
                <div class="modal-mid col-4 col-sm-4 col-lg-4">
                    Group: <span class="modal-student-group"></span><br/>
                    Progress: <span class="modal-student-progress"></span>
                </div>
                <div class="modal-right col-4 col-sm-4 col-lg-4">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4><span class="help-status"></span></h4>
                    <span class="help-requested-at"></span>
                </div>
            </div>
          </div>
          <div class="modal-body modal-help">
            <span class="modal-student-name"></span> needs help on learning sequence #<span class="help-resource"></span><br/>
            description: &quot;<span class="help-description"></span>&quot;
          </div>
          <div class="modal-footer">
            <button class='btn btn-primary start-help-button'>Help this student</button>
            <button class='btn btn-primary locate-button'>Locate this student</button>
            <button type='button' class='btn btn-default mark-resolved-button'>Mark as resolved</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    </div><!-- /.content -->

    <script src="{% static "js/vendor/jquery-1.10.2.min.js" %}"></script>
    <script src="{% static "js/vendor/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
    <script src="{% static "js/vendor/socket.io.js" %}"></script>
    <!-- Optionally enable responsive features in IE8 -->
    <!-- <script src="js/respond.js"></script> -->
    <script src="{% static "js/layout.js" %}"></script>
    <script src="{% static "js/touch-device.js" %}"></script>
    <script src="{% static "js/student-layout.js" %}"></script>
    <script src="{% static "js/block-layout.js" %}"></script>
    <script src="{% static "js/help-queue.js" %}"></script>
    <script src="{% static "js/capture.js" %}"></script>
    <script src="{% static "js/utils.js" %}"></script>

    <script>
        $(document).ready(function(){
            var blocks = JSON.stringify({{blocks|safe}});
            var students = JSON.stringify({{students|safe}});
            var session_students = JSON.stringify({{session_students|safe}});
            TouchDevice.init();
            // Capture.init();
            StudentLayout.init();
            HelpQueue.init();
            Layout.init("{{course.id}}", "{{session.id}}", "{{instructor.id}}", JSON.parse(blocks), JSON.parse(students), JSON.parse(session_students), true);
            Layout.poll_for_progress_updates();

            // showAlert("Student information is successfully loaded.");


/*
            var socket = new io.Socket();
            socket.connect("http://localhost:3333");
            socket.on('connect', function() {
                console.log("connected");
                console.log(socket);
                socket.send("get-student-status", {course_id: "{{ course.id }}", session_id: "{{ session.id }}" });
                // socket.subscribe('test-channel');
            });
            socket.on("message", function(data) {
                // var parsed = JSON.stringify(data);
                console.log("message received:", data);
                // for (var i=0; i<JSON.parse(parsed).length; i++){
                //     console.log(data[i]);
                //     var entry = JSON.parse(data[i]);
                //     console.log(entry, entry["student"], entry["currentIndex"]);
                // }
                
            });            
*/            
        });
    </script>    
  </body>
</html>
